/* .wrapper {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr;
}

.leftcolumn {
    grid-column: 1;
    grid-row: 1;

    background-color: rgba(255, 0, 0, 0.2);
    justify-self: stretch;
}

.content {
    grid-column: 2;
    grid-row: 1;

    background-color: rgba(0, 255, 0, 0.2);
    justify-self: stretch;

    padding: 10%;
}

.rightcolumn {
    grid-column: 3;
    grid-row: 1;

    background-color: rgba(0, 0, 255, 0.2);
    justify-self: stretch;
}

.content > h1 {
    font-size: xx-large;
    font-weight: bold;

    padding-top: 3rem;
    padding-bottom: 2rem;
}

.content > h2 {
    font-size: x-large;
    font-weight: bold;

    padding-top: 2rem;
    padding-bottom: 1rem;
}

.content > p {
    font-size: medium;
    line-height: 1.5rem;
}

.content > ol {
    list-style: decimal;
    padding-inline-start: 1rem;

    font-size: medium;
    line-height: 1.5rem;
}

.content > ul {
    list-style-type: disc;
    padding-inline-start: 1rem;

    font-size: medium;
    line-height: 1.5rem;
}

.content ~ strong {
    font-weight: bold;
} */

.gridWrapper {
    display: grid;

    width: 100vw;
    height: 100vh;

    /* divide 10fr to keep things nice */
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-color: red;
}

.leftSidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: blue;
}

.center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: green;

    padding: 1rem;
}

.rightSidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    background-color: purple;
}

.footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    background-color: yellow;
}
